<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Service</title>
    <link rel="stylesheet" href="/static/style_registerC.css">
</head>
<body>
    <div class="heading">
        <h1>Household Services</h1>
    </div>
    <div class="create">
        <h2>New Service</h2>
        <form action="/admin/createService", method="post">
            <div class="name">
                <label for="name">Name:</label>
                <input type="text" name="name">
            </div>
            <div class="type">
                <label for="type">Type:</label>
                <input type="text" name="type">
            </div>
            <div class="price">
                <label for="price">Price(INR):</label>
                <input type="number" name="price">
            </div>
            <div class="time">
                <label for="time">Time Reqd.(hrs):</label>
                <input type="number" name="time">
            </div>
            <div class="desc">
                <label for="desc">Description:</label>
                <input type="text" name="desc">
            </div>
            <div class="submit">
                <button type="submit">Create</button>
            </div>
        </form>
        {% if var %}
            <div class="msg">
                <p>Service already exists</p>
            </div>
        {% endif %}
    </div>
</body>
</html>