<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style_admin_prof.css">
</head>
<body>
    {% if cust.status=="Blocked" %}
    <div class="heading">
        <h1>Household Services</h1>
    </div>
    <div class="alert">
        <h1>You are Blocked</h1>
        <a href="/"><button>Go Back</button></a>
    </div>
    {% else %}
    <div class="nav">
        <h1>HS</h1>
        <div class="options">
            <h3><a href="/customer/{{cust.id}}/home">Home</a></h3>
            <h3><a href="/customer/{{cust.id}}/search">Search</a></h3>
            <h3><a href="/">Logout</a></h3>
        </div>
        <div class="greet">
            <h3>Welcome, {{cust.name}}</h3>
        </div>
    </div>
    {% if service %}
        <div class="services">
            <h2>{{service}}</h2>
            {% if packs | length==0 %}
                <div class="msg">
                    <h3>No {{service}} Services</h3>
                </div>
            {% else %}
            <table>
                <tr>
                    <th>S.No</th>
                    <th>Service Name</th>
                    <th>Description</th>
                    <th>Price(INR)</th>
                    <th>Time Required(hrs)</th>
                    <th>Action</th>
                </tr>
                {% for service in packs %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{service.name}}</td>
                        <td>{{service.description}}</td>
                        <td>{{service.price}}</td>
                        <td>{{service.time_reqd}}</td>
                        <td class="btn">
                            <a href="/{{cust.id}}/service/{{service.id}}"><button>Book</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    {% else %}
    <div class="categories">
        <a href="/{{cust.id}}/service/repairing"><div class="repair">
            <h3>Repairing</h3>
        </div></a>
        <a href="/{{cust.id}}/service/cleaning"><div class="clean">
            <h3>Cleaning</h3>
        </div></a>
        <a href="/{{cust.id}}/service/electrician"><div class="elec">
            <h3>Electrician</h3>
        </div></a>
        <a href="/{{cust.id}}/service/painting"><div class="paint">
            <h3>Painting</h3>
        </div></a>
        <a href="/{{cust.id}}/service/saloon"><div class="saloon">
            <h3>Saloon</h3>
        </div></a>
    </div>
    {% endif %}
    <div class="reqs">
        <h2>Service History</h2>
        {% if services|length==0 %}
            <div class="msg">
                <h3>No Past Requests</h3>
            </div>
        {% else %}
        <table>
            <tr>
                <th>Request ID</th>
                <th>Service ID</th>
                <th>Service Name</th>
                <th>Professional Name</th>
                <th>Professional Email</th>
                <th>Rating</th>
                <th>Status</th>
            </tr>
            {% for req,prof,service in services %}
            <tr>
                <td>{{req.id}}</td>
                <td>{{service.id}}</td>
                <td>{{service.name}}</td>
                {% if prof!="-" %}
                <td>{{prof.name}}</td>
                <td>{{prof.email}}</td>
                {% else %}
                <td>Nil</td>
                <td>Nil</td>
                {% endif %}
                <td>{{req.rating}}</td>
                <td class="btn">
                    {% if req.status=="pending" %}
                        <a href="/customer/{{cust.id}}/close_service/{{req.id}}"><button>Close</button></a>
                    {% elif req.status=="requested" %}
                        Requested
                    {% elif req.rating==0 %}
                        <div class="rating">
                            <form action="/{{cust.id}}/rate/{{req.id}}" method="post">
                                Rate:
                               <select name="rating">
                                   <option value=1>1</option>
                                   <option value=2>2</option>
                                   <option value=3>3</option>
                                   <option value=4>4</option>
                                   <option value=5>5</option>
                               </select>
                               <button type="submit">Submit</button>
                           </form>
                        </div>
                    {% else %}
                        Completed
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    {% endif %}
</body>
</html>