<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/static/style_admin_prof.css">
</head>
<body>
    <div class="nav">
        <h1>HS</h1>
        <div class="options">
            <h3><a href="/customer/{{cust.id}}/home">Home</a></h3>
            <h3><a href="/customer/{{cust.id}}/search">Search</a></h3>
            <h3><a href="/">Logout</a></h3>
        </div>
        <div class="greet">
            <h3>Welcome, {{cust.name}}</h3>
        </div>
    </div>
    <div class="search">
        <form action="/customer/{{cust.id}}/search" method="post">
            <h3>Search for service:</h3>
            <input type="text" name="key">
            <button type="submit">Search</button>
        </form>
        {% if var %}
        <div class="services">
            {% if packs | length==0 %}
                <div class="msg">
                    <h3>No Results</h3>
                </div>
            {% else %}
            <h2>Book Service</h2>
            <table>
                <tr>
                    <th>S.No</th>
                    <th>Service Name</th>
                    <th>Description</th>
                    <th>Price(INR)</th>
                    <th>Time Required</th>
                    <th>Action</th>
                </tr>
                {% for service in packs %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{service.name}}</td>
                        <td>{{service.description}}</td>
                        <td>{{service.price}}</td>
                        <td>{{service.time_reqd}}</td>
                        <td class="btn">
                            <a href="/{{cust.id}}/service/{{service.id}}"><button>Book</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>     
        {% endif %}
    </div>
</body>
</html>