<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Service</title>
    <link rel="stylesheet" href="/static/style_registerC.css">
</head>
<body>
    <div class="heading">
        <h1>Household Services</h1>
    </div>
    <div class="create">
        <h2>Edit Service</h2>
        <form action="/admin/editService/{{service.id}}", method="post">
            <div class="name">
                <label for="name">Name:</label>
                <input type="text" name="name" value="{{service.name}}">
            </div>
            <div class="type">
                <label for="type">Type:</label>
                <input type="text" name="type" value="{{service.type}}" disabled>
            </div>
            <div class="price">
                <label for="price">Price(INR):</label>
                <input type="number" name="price" value="{{service.price}}">
            </div>
            <div class="time">
                <label for="time">Time Reqd.(hrs):</label>
                <input type="number" name="time" value="{{service.time_reqd}}">
            </div>
            <div class="desc">
                <label for="desc">Description:</label>
                <input type="text" name="desc" value="{{service.description}}">
            </div>
            <div class="submit">
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</body>
</html>